@media all

  body
    font-family Ubuntu, Arial, sans-serif
    line-height 1.55



@media screen

  .pik-slide
    font-size 0.7em



@media print

  pre
    line-height 1.1
  mark
    text-decoration underline