@media print{body{font-size:18pt !important;color:#000;background:#fff}
h1,h2,h3,h4,h5,h6{clear:both}
a{color:#00f}
.pikSlide{clear:both;zoom:1}
.pikSlide:before,.pikSlide:after{content:"";display:table}
.pikSlide:after{clear:both}
.pikNoprint,.pikNotes,input,textarea,iframe,button{display:none !important;page-break-after:auto !important}
}@media print and (orientation:landscape){body{font-size:24pt !important}
.pikSlide{page-break-inside:avoid;page-break-after:always}
}@media only screen{@font-face{font-family:'icons';src:url("icons/icons.eot");src:url("icons/icons.eot?#iefix") format('embedded-opentype'),url("icons/icons.woff") format('woff'),url("icons/icons.ttf") format('truetype'),url("icons/icons.svg#icons") format('svg');font-weight:normal;font-style:normal}
html,body{overflow:hidden;position:relative;height:100%;width:100%;margin:0;padding:0}
#PikApp iframe{display:block;border:none;height:100%;width:100%;margin:0;padding:0}
#PikApp #PikControls{background:rgba(0,0,0,0.95);border-radius:.5em;font-family:Arial,sans-serif;text-align:center;line-height:1.25;font-size:16px;position:absolute;bottom:.5em;right:.5em;margin:.5em 0 0 .5em;padding:1em 1.6em .8em 1.6em;opacity:.3;transition:opacity 400ms;}
#PikApp #PikControls:hover{opacity:1}
#PikApp a{font-weight:bold;text-decoration:none;transition:color 400ms;}
#PikApp a:not(:last-child){margin-right:1.25em}
#PikApp a:link,#PikApp a:visited{color:#aaa}
#PikApp a:hover{color:#fff}
#PikApp a:active{color:#f00}
#PikApp [class^='icon']:before{margin-right:.5em;position:relative;top:-1px;font-family:icons;font-style:normal;font-weight:normal;speak:none}
#PikApp .iconBrowse:before{content:'\2630';}
#PikApp .iconReload:before{content:'\27f3';}
#PikApp .iconPrint:before{content:'\e716';}
#PikApp .iconClone:before{content:'\e736';}
#PikApp .iconPresenter:before{content:'\e74e';}
#PikSlides #PikSlideWrapper{margin-left:auto;margin-right:auto;position:relative;height:100%}
#PikSlides .pikSlide,#PikSlides #PikHide{visibility:hidden;position:absolute;top:0;left:0;height:100%;width:100%}
#PikSlides #PikHide{background:#000;z-index:1000000000000000000}
#PikSlides .pikSlide.pikCurrent{visibility:visible}
#PikSlides #PikHide.pikActive{visibility:visible}
}