*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html,body{background:#fff;height:100%;width:100%;margin:0;padding:0;}
@media only screen{html,body{overflow:hidden;position:relative}
}@font-face{font-family:'icons';src:url("icons/icons.eot");src:url("icons/icons.eot?#iefix") format('embedded-opentype'),url("icons/icons.woff") format('woff'),url("icons/icons.ttf") format('truetype'),url("icons/icons.svg#icons") format('svg');font-weight:normal;font-style:normal}
[class^='icon']:before{font-family:icons;font-style:normal;font-weight:normal;speak:none}
.iconMenu:before{content:'\2630';}
.iconHome:before{content:'\2302';}
.iconView:before{content:'\e70a';}
.iconFolder:before{content:'\1f4c1';}
.iconReload:before{content:'\27f3';}
.iconPrint:before{content:'\e716';}
.iconClone:before{content:'\e736';}
.iconPresenter:before{content:'\e74e';}
@media print{#PikSlideWrapper{font-size:17pt !important;color:#000;background:#fff}
h1,h2,h3,h4,h5,h6{clear:both}
a{color:#00f}
.pikSlide{clear:both;zoom:1}
.pikSlide:before,.pikSlide:after{content:"";display:table}
.pikSlide:after{clear:both}
.pikNoprint,.pikNotes,input,textarea,iframe,button{display:none !important;page-break-after:auto !important}
}@media print and (orientation:landscape){#PikSlideWrapper{font-size:27pt !important}
.pikSlide{page-break-inside:avoid;page-break-after:always}
}@media only screen{#PikSlides #PikSlideWrapper{margin-left:auto;margin-right:auto;position:relative;height:100%}
#PikSlides .pikSlide,#PikSlides #PikHide{visibility:hidden;position:absolute;top:0;left:0;height:100%;width:100%}
#PikSlides #PikHide{background:#000;z-index:1000000000000000000}
#PikSlides .pikSlide.pikCurrent{visibility:visible}
#PikSlides #PikHide.pikActive{visibility:visible}
}#PikApp iframe{display:block;border:none;height:100%;width:100%;margin:0;padding:0}
#PikApp #PikControlsContainer{position:absolute;bottom:0;right:0;padding:.85em .55em .85em 1em}
#PikApp #PikControls{background:rgba(0,0,0,0.95);-webkit-border-radius:.5em;border-radius:.5em;font-family:Arial,sans-serif;line-height:1.25;font-size:16px;color:#fff;font-weight:bold;margin:0;padding:1.2em 1.6em .9em 1.6em;opacity:.3;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);filter:alpha(opacity=30);-webkit-transition:opacity 400ms;-moz-transition:opacity 400ms;-o-transition:opacity 400ms;-ms-transition:opacity 400ms;transition:opacity 400ms}
#PikApp #PikControlsContainer:hover #PikControls{opacity:1;-ms-filter:none;filter:none}
#PikApp #PikControlsLinks,#PikApp #PikControlsContainer:hover #PikControlsTitle{display:none}
#PikApp #PikControlsContainer:hover #PikControlsLinks,#PikApp #PikControlsTitle{display:inline}
#PikApp a{text-decoration:none;-webkit-transition:color 400ms;-moz-transition:color 400ms;-o-transition:color 400ms;-ms-transition:color 400ms;transition:color 400ms;}
#PikApp a:not(:last-child){margin-right:1.25em}
#PikApp a:first-child{margin-right:.55em}
#PikApp a:link,#PikApp a:visited{color:#aaa}
#PikApp a:hover{color:#fff}
#PikApp a:active{color:#f00}
#PikApp [class^='icon']:before{margin-right:.5em;position:relative;top:-1px}
#PikApp #PikControlsTitle:before{margin:0}
#PikPresenterApp body{font-size:20px;font-family:Arial,sans-serif;line-height:1.25}
#PikPresenterApp iframe{display:block;border:none;margin:0;-webkit-box-shadow:0 0 3em -.2em rgba(0,0,0,0.5);box-shadow:0 0 3em -.2em rgba(0,0,0,0.5);background:#ffc0cb}
#PikPresenterApp #PikFrame,#PikPresenterApp #PikFramePreviewContainer{position:absolute;}
#PikPresenterApp #PikFrame:hover,#PikPresenterApp #PikFramePreviewContainer:hover{z-index:1337}
#PikPresenterApp #PikFrame{height:100%;width:70%}
#PikPresenterApp #PikFramePreviewContainer{text-align:right;right:0;height:70%;width:45%;}
#PikPresenterApp #PikFramePreviewContainer iframe{height:100%;width:100%}
#PikSlideCounter,#PikTimer{display:inline-block;margin:20px 32px}
#PikSlideCounter{font-weight:bold;font-size:2.5em}
#PikTimer span{display:block}
#PikControlsContainer{margin:20px 16px;line-height:2;}
#PikControlsContainer a,#PikControlsContainer select,#PikControlsContainer label{margin-right:16px;max-width:33%;font-size:inherit}
