// Default app view styles
#PikApp

  $transitionDelay = 400ms

  // Having both height:100% and absolute positioning is required by Mobile
  // Chrome to get the exact right height. No idea why...
  iframe
    display block
    border none
    height 100%
    width 100%
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin 0
    padding 0


  #PikControlsContainer
    position absolute
    bottom 0
    right 0
    padding 0.85em 1.25em 1.25em 2em
    margin 0
    cursor pointer
    &.open
      cursor default
  #PikControls
    background rgba(0, 0, 0, 0.95)
    border-radius 0.5em
    font-family Arial, sans-serif
    line-height 1.25
    font-size 16px
    color #FFF
    font-weight bold
    margin 0
    padding 1.2em 1.6em 0.9em 1.6em
    opacity 0.3
    transition opacity $transitionDelay
  #PikControlsContainer.open #PikControls
    opacity: 1
  #PikControlsLinks, #PikControlsContainer.open #PikControlsTitle
    display none
  #PikControlsContainer.open #PikControlsLinks, #PikControlsTitle
    display inline


  a
    text-decoration none
    transition color $transitionDelay
    &:not(:last-child)
      margin-right 1.25em
    &:first-child
      margin-right 0.55em // Special treatment for home link
    &:link, &:visited
      color #AAA
    &:hover
      color #FFF
    &:active
      color red


  // Icons for control links
  [class^='icon']:before
    margin-right 0.5em
    position relative
    top -1px

  // Actual icons are defined im common.styl

  // Fix margin for the menu title
  #PikControlsTitle:before
    margin 0