@import 'nib/vendor'

*
  box-sizing border-box

html, body
  background #FFF
  height 100%
  width 100%
  margin 0
  padding 0
  @media only screen
    overflow hidden
    position relative


// Icons
@font-face
  font-family 'icons'
  src url('icons/icons.eot')
  src url('icons/icons.eot?#iefix') format('embedded-opentype'), url('icons/icons.woff') format('woff'), url('icons/icons.ttf') format('truetype'), url('icons/icons.svg#icons') format('svg')
  font-weight normal
  font-style normal
[class^='icon']:before
  font-family icons
  font-style normal
  font-weight normal
  speak none
.iconMenu:before
  content '\2630'  /* '☰' */
.iconHome:before
  content '\2302'  /* '⌂' */
.iconView:before
  content '\e70a'  /* '' */
.iconFolder:before
  content '\1f4c1' /* '📁' */
.iconReload:before
  content '\27f3'  /* '⟳' */
.iconPrint:before
  content '\e716'  /* '' */
.iconClone:before
  content '\e736'  /* '' */
.iconPresenter:before
  content '\e74e'  /* '' */
.iconCog:before
  content '\2699'  /* '⚙' */
.iconGithub:before
  content '\f300'  /* '' */