#PikPresenterApp


  body
    font-family Arial, sans-serif
    line-height 1.25
    color #000
  #PikPresenterAppWrapper
    position relative
    margin-left auto
    margin-right auto


  iframe
    display block
    border none
    margin 0
    box-shadow 0 0 3em -0.2em rgba(#000, 0.5)
    background pink
    position absolute
    &:hover
      z-index 1337
  #PikFrame
    left 0
  #PikFramePreview
    right 0


  // Timer and slide counter
  #PikCounterContainer
    font-size 55%
    text-align:right
    position absolute
    top 11%
    right 0
  #PikSlideCounter, #PikTimer
    display block
  #PikSlideCounter
    font-weight bold
    font-size 2em
  #PikTimer
    span
      display block


  // Controls
  #PikControlsContainer
    font-size 35%
    text-align:right
    position absolute
    bottom 11%
    right 0
    width 100%
    p
      margin 0.75em 0
    select
      font-size inherit
      width 20%
    a
      margin-left 0.5em
      text-decoration none
      border-bottom-width 0.1em
      border-bottom-style solid
      &:link, &:visited
        color inherit
        border-bottom-color currentcolor
      &:hover
        color inherit
        border-bottom-color transparent
      &:active
        color #C00
        border-bottom-color transparent