#PikPresenterApp


  link()
    cursor pointer
    margin-left 0.5em
    text-decoration none
    border-bottom-width 0.1em
    border-bottom-style solid
    border-bottom-color currentcolor
    &:link, &:visited
      color inherit
      border-bottom-color currentcolor
    &:hover
      color inherit
      border-bottom-color transparent
    &:active
      color #C00
      border-bottom-color transparent
    &:before
      margin-right 0.25em


  body
    font-family Arial, sans-serif
    line-height 1.25
    color #000
  #PikPresenterAppWrapper
    position relative
    margin-left auto
    margin-right auto


  input, select
    font-size inherit


  iframe
    display block
    border none
    margin 0
    box-shadow 0 0 1.25em -0.2em rgba(#000, 0.65)
    background #FFF
    position absolute
    &:hover
      z-index 1337
  #PikFrame
    left 0
  #PikFramePreview
    right 0


  // Timer and slide counter
  #PikCounterContainer
    font-size 35%
    text-align right
    position absolute
    top 11%
    right 0
    width 25%
    height 15%
  #PikSlideCounter, #PikTimer
    display block
  #PikSlideCounter
    font-weight bold
    font-size 3.5em
  #PikTimeCountdown
    font-weight bold
    font-size 1.5em
  #PikTimeCurrent
    font-size 1.25em
  #PikCountdownControl
    font-size 1.5em
    text-decoration none
    color #000
    opacity 0.35
    overflow hidden
    margin-right 0.25em
    &:before
      @extend [class^='icon']:before
      @extend .iconPause:before
    &.paused
      &:before
        @extend .iconPlay:before
    &:hover
      opacity 1
    span
      display inline-block
      height 0
      width 0
      overflow hidden


  a.pikFullScreen
    position absolute
    cursor pointer
    link()
    border none !important
  #PikFullScreenMain
    left 2.5%
    bottom 15%
    &:before
      content "← \e74e"
  #PikFullScreenPreview
    left 5%
    bottom -10%
    &:after
      content " ↓"


  // Controls
  #PikControlsContainer
    font-size 35%
    text-align:right
    position absolute
    bottom 10%
    right 0
    width 100%
    p
      margin 1.25em 0
    select
      width 22.5%
    a
      link()


  // Advanced Options
  #PikPresenterOptions
    font-size 0.45em
    background #FFF
    box-shadow 0 0 2em -0.25em rgba(#000, 0.6)
    display table
    position absolute
    z-index 9000
    width 80%
    left 10%
    padding 1em 2em
    h1
      font-size 1.4em
    h2
      font-size 1.1em
    input[type=number]
      max-width 20%
    #PikOptionsClose
      margin-top 2.5em
      text-align right
      input
        font-weight bold
        cursor pointer
  #PikPresenterOptionsOverlay
    position absolute
    z-index 8999
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#000, 0.75)
  #PikPresenterOptions:not(.open), #PikPresenterOptionsOverlay:not(.open)
    display none