@page
  size A4 landscape

@media print

  #PikSlideWrapper
    font-size 17pt !important // Override metrics set by javascript
    color black
    background white
  h1, h2, h3, h4, h5, h6
    clear both
  a
    color blue
    word-wrap break-word
    &:not(.url)[href^="http"]::after
      content " (" attr(href) ")"
      font-size 60%
  .pikSlide
    clear both
    clearfix()
    width 75% /* Approximate 4:3 aspect ratio */
    padding-top 1em
    margin 0 auto

  .pikSlide.center
    > img:only-child
      display block
      margin 0 auto

  // No printing and no page breaks for these guys
  .pikNoprint, .pikNotes, input, textarea, iframe, button
    display none !important
    page-break-after auto !important


// Emulate original slide layout for landscape format
@media print and (orientation:landscape)

  #PikSlideWrapper
    font-size 30pt !important // Override metrics set by javascript

  .pikSlide
    page-break-inside: avoid;
    page-break-after: always;


// Add extra margins for portrait mode
@media print and (orientation:portrait)

  .pikSlide
    margin-bottom 3em