@media only screen

  #PikSlides

    #PikSlideWrapper
      margin-left auto
      margin-right auto
      position relative
      height 100%

    // Slides and hide overlay are invisible by default
    .pikSlide, #PikHide
      visibility hidden
      position absolute
      top 0
      left 0
      height 100%
      width 100%

    // Hide overlay styles
    #PikHide
      background #000
      z-index 999999999999999999

    // Special classes make slides and hide overlay visible */
    .pikSlide.pikCurrent
      visibility visible
    #PikHide.pikActive
      visibility visible

    // Notes are invisible in the normal presentation view
    .pikNotes
      display none

  // Modifications for presenter display
  #PikSlides.pikInPresenter #PikHide
    opacity 0.6
  #PikSlides.pikInPresenter .pikNotes
    display block

  // Only-notes-showing mode for presenter
  #PikSlides.pikOnlyNotes .pikSlide > :not(.pikNotes)
    display none